In [ ]:
import math
import pandas as pd
import numpy as np

In [ ]:
"Defining Gini function"

def gini(samples):
  samples_sum = sum(samples)
  score = 0
  probas = []
  for sample in samples:
    proba = sample/ samples_sum
    probas.append(proba)
  for proba in probas:
    score += proba * (1-proba)
  return score

In [ ]:
"Defining entropy function"

def entropy(samples):
  samples_sum = sum(samples)
  score = 0
  probas = []
  for sample in samples:
    proba = sample/ samples_sum
    probas.append(proba)
  for proba in probas:
    if proba > 0:
      score += proba * math.log(proba)
  return -1*score

In [ ]:
samples = [100,75,125]
gini(samples), entropy(samples)

(0.6527777777777777, 1.0775563270668007)

Upload the titanic Data downloaded from the kagle website

In [ ]:
import zipfile
import io

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic.zip to titanic.zip

In [ ]:
import zipfile
zf = zipfile.ZipFile(io.BytesIO(uploaded['titanic.zip']), "r")
zf.extractall()

In [ ]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

Consider only three features as of now

In [ ]:
data = data[["Survived","Pclass","Sex"]]
test = test[["Pclass","Sex"]]

In [ ]:
data

     Survived  Pclass     Sex
0           0       3    male
1           1       1  female
2           1       3  female
3           1       1  female
4           0       3    male
..        ...     ...     ...
886         0       2    male
887         1       1  female
888         0       3  female
889         1       1    male
890         0       3    male

[891 rows x 3 columns]

Converting the text to numeric values

In [ ]:
sex_mapping = {
    "female":0,
    "male":1
}
data.Sex = data.Sex.map(sex_mapping)
test.Sex = test.Sex.map(sex_mapping)

In [ ]:
data.head()

   Survived  Pclass  Sex
0         0       3    1
1         1       1    0
2         1       3    0
3         1       1    0
4         0       3    1

In [ ]:
data.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
data.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
gini([549, 342])

0.4730129578614427

In [ ]:
x = data[data.Pclass <= 1.5]
print(x.shape)

(216, 3)

In [ ]:
print(x.Survived.value_counts())

1    136
0     80
Name: Survived, dtype: int64

In [ ]:
print(gini([80,136]))

0.4663923182441701

In [ ]:
x = data[data.Pclass > 1.5]
print(x.shape)
print(x.Survived.value_counts())

(675, 3)
0    469
1    206
Name: Survived, dtype: int64

In [ ]:
print(gini([469,206]))

0.4240943758573388

In [ ]:
x = data[data.Pclass <= 2.5]
print(x.shape)
print(x.Survived.value_counts())

(400, 3)
1    223
0    177
Name: Survived, dtype: int64

In [ ]:
print(gini([223,177]))

0.4933875

In [ ]:
x = data[data.Pclass > 2.5]
print(x.shape)
print(x.Survived.value_counts())

(491, 3)
0    372
1    119
Name: Survived, dtype: int64

In [ ]:
print(gini([372,119]))

0.36724586342349663

In [ ]:
x = data[data.Sex <= 0.5]
print(x.shape)
print(x.Survived.value_counts())

(314, 3)
1    233
0     81
Name: Survived, dtype: int64

In [ ]:
gini([468,109])

0.3064437162277843

In [ ]:
x = data[data.Sex > 0.5]
print(x.shape)
print(x.Survived.value_counts())

(577, 3)
0    468
1    109
Name: Survived, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(data.drop(['Survived'], axis='columns'),data['Survived'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
model.predict(test)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])